<div class="container">
  <h1>KnarQL me!</h1>
  <p>
    <a [href]="appHomePage" target="_blank">Github project</a> (Running version {{appVersion}}{{devMode}})</p>
</div>

<div class="container">
  <div class="card">
    <div class="card-header">
      <h5>Query</h5>
    </div>
    <div class="card-body">

      <form #knarqlmeForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="endpoint">Endpoint:</label>
          <input [disabled]="isLaunched" type="url" class="form-control" id="endpoint" required [(ngModel)]="endpoint" name="endpoint"
            #endpoint_="ngModel">
          <div [hidden]="endpoint_.valid || isLaunched" class="alert alert-danger">
            URL of v2/searchextended endpoint is required
          </div>
        </div>
        <div class="form-group">
          <label for="knarql">KnarQL:</label>
          <textarea [disabled]="isLaunched" rows="10" type="text" class="form-control" id="knarql" required [(ngModel)]="knarql"
            name="knarql" #knarql_="ngModel"></textarea>
        </div>
        <div [hidden]="knarql_.valid || isLaunched" class="alert alert-danger">
          KnarQL query is required
        </div>
        <div style="display: flex;">
            <button type="submit" class="btn btn-success" [disabled]="!knarqlmeForm.form.valid || isLaunched">Launch</button>
            <div  *ngIf="isLaunched" class="loader"></div>
        </div>
      </form>
    </div>
  </div>

    <div class="card">
      <div class="card-header">
        <h5>Results</h5>
      </div>
      <div class="card-body">
        <ngb-tabset *ngIf="jsonResult || rawResult">
          <ngb-tab title="Tree">
            <ng-template ngbTabContent *ngIf="jsonResult">
              <ngx-json-viewer [json]="jsonResult"></ngx-json-viewer>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Raw">
            <ng-template ngbTabContent *ngIf="rawResult">
              <pre><![CDATA[{{rawResult}}]]></pre>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
  </div>
